<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/administrator">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/administrator/user">
            <i class="fa fa-user"></i>
            <span>Users</span>
          </a>

        </li>

        <li class="bg-red"><a href="#"><span style="color: rgb(255, 255, 255);">Logout</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
