<div class="wrapper">
    <app-navbar [currentUser]=currentUser></app-navbar>
    <app-sidebar [currentUser]=currentUser></app-sidebar>
    <app-content [tag]=tag [description]=description>
        <ng-content></ng-content>
    </app-content>

</div>
