<div class="content-wrapper" style="min-height: 960px;">
    <section class="content-header">
        <h1>{{tag}} <small>{{description}}</small></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <ng-content></ng-content>
            </div>
        </div>
    </section>
</div>
