<div class="widget-user-header ">
     <div class="row pull-right" *ngIf="detail == null">
        <a class="btn btn-flat btn-success btn_add_new" id="btn_add_new" title="" routerLink="/administrator/{{path}}/add"><i class="fa fa-plus-square-o"></i> Tambahkan {{tag}} Baru</a>
        <a class="btn btn-flat btn-success" title="" ><i class="fa fa-file-excel-o"></i> Ekspor</a>
     </div>
     <div class="widget-user-image">
        <img class="img-circle" src="{{detail === false?'http://cicool.heriver.com/asset//img/add2.png':'http://cicool.heriver.com:80/asset//img/list.png'}}" alt="User Avatar">
     </div>
     <!-- /.widget-user-image -->
     <h3 class="widget-user-username">{{tag}}</h3>
     <h5 class="widget-user-desc">
         <span *ngIf="detail == null">Daftar semua</span>
         <span *ngIf="detail === true">Detail</span>

         {{tag}}
         <span *ngIf="detail === false">Baru</span>
          <i class="label bg-yellow" *ngIf="detail == null">{{total||0}}  Item</i></h5>
     <hr>

 </div>
