<div class="form-horizontal" *ngIf=data>
    <div class="form-group" *ngFor="let key of keys">
        <label for="content" class="col-sm-2" style="text-align:right">{{key}}</label>
        <div class="col-sm-8">{{data[key]}}</div>
    </div>
    <div class="view-nav">
        <a class="btn btn-flat btn-info btn_edit btn_action" id="btn_edit"  [routerLink]="['/administrator/'+path+'/edit', data.id]"><i class="fa fa-edit"></i> Memperbarui {{tag}} </a>
        <a class="btn btn-flat btn-default btn_action" id="btn_back" routerLink="/administrator/{{path}}"><i class="fa fa-undo"></i> Pergi ke Daftar {{tag}}</a>
    </div>
</div>
