<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <th style="width: 10px">#</th>
      <th *ngFor="let t of titles">
          {{t}}
      </th>
      <th style="width:150px">Action</th>
    </tr>
    <ng-container *ngIf="items.length > 0">
        <tr *ngFor="let i of items; let ind = index" >
          <td>{{ind+1}}.</td>
          <td *ngFor="let key of keys">
              {{i[key]}}
          </td>
          <td>
              <a class='btn btn-default' [routerLink]="['/administrator/'+path+'/view', i.id]"><i class="fa fa-eye"></i></a>
              <a class='btn btn-primary' [routerLink]="['/administrator/'+path+'/edit', i.id]"><i class="fa fa-edit"></i></a>
              <a class='btn btn-danger' [routerLink]="['/administrator/'+path+'/delete', i.id]"><i class="fa fa-remove"></i></a>
          </td>
        </tr>
    </ng-container>
  </tbody></table>
</div>
