<app-admin tag="User" description="Create User">
    <div class="box box-warning">
        <div class="box-body">
            <div class="box box-widget widget-user-2">
                <app-content-box-header tag="User" [detail]=false ></app-content-box-header>
            </div>
        </div>
    </div>
</app-admin>
