<app-admin tag="User" description="Detail User">
    <div class="box box-warning">
        <div class="box-body">
            <div class="box box-widget widget-user-2">
                <app-content-box-header tag="User" [detail]=true ></app-content-box-header>
                <app-content-detail [data]=data tag="User" path="user"></app-content-detail>
            </div>
        </div>
    </div>
</app-admin>
