<app-admin tag="User" description="Daftar Semua">
    <div class="box box-warning">
        <div class="box-body">
            <div class="box box-widget widget-user-2">
                <app-content-box-header tag="User" [total]=total path="user"></app-content-box-header>
                <app-table [titles]=sampleTitles [items]=sampleData path="user"></app-table>
                <hr>
            </div>
        </div>
    </div>
</app-admin>
